*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}
a{
    all: unset;
}