/* Reset e estilos globais */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seção principal */
.main-container {
    background-color: #7657FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80%;
}

/* Seção de conteúdo principal */
.content-section {
    display: flex;
    width: 70%;
    height: 100%;
    padding-top: 15px;
}

/* Navegação */
.main-nav {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 100%;
    gap: 15px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 160px;
    height: 40px;
    border-radius: 20px;
}

/* Título principal */
.main-title {
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 174px;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 10%;
}

/* Botão principal */
.main-button {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    margin-bottom: 7%;
}

/* Layout da seção principal */
.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-image {
    width: 300px;
    transition: 1s;
}
.hero-image img{
    width: 100%;
    transition: 1s;
}

/* Grade de artigos */
.articles-grid {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    margin: 0 50px;
}

.article-card {
    width: 300px;
}

.article-image {
    background-color: #a3a3a3;
    width: 250px;
    height: 250px;

    background-image: url(https://vti-aviz.gitbook.io/untitled-1/~gitbook/image?url=https%3A%2F%2F1427419132-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252FfDpGpWevs0ZVIzbOjNRp%252Fuploads%252Ftedo6tC9ilnsDHWWbpCW%252Fimg-03.png%3Falt%3Dmedia%26token%3Dfe70fe47-8115-49f0-88a8-6684994e49a3&width=768&dpr=4&quality=100&sign=b8f5cd6&sv=2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.article-description {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    padding-left: 0;
}
@media (max-width: 1100px){
    .hero-image {
        display: none;
        transition: 1s;
    }
    .hero-image img{
        display: none;
        transition: 1s;
    }
}